{% extends '_base.html' %}

{% load book_tags %}

{% load crispy_forms_tags %}

{% block page_title %}
    details of the {{ book.title }} book
{% endblock %}

{% block content %}

    <div class="container mt-5" dir="ltr">
        <div class="">
            <div class="">
                <div class="d-flex justify-content-center">
                    <div class="row w-sm-75 w-100">
                        <div class="col-xs-12 col-md-3 d-flex justify-content-center">
                            <div>
                                {% if book.cover %}
                                    <img src="{{ book.cover.url }}" class="img-fluid rounded-start" alt="...">
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6 text-left text-md-end mt-md-1 mt-4">
                            <h4 style="text-align: left">{{ book.title }}</h4>
                            <h5 class="small my-1" style="text-align: left"><span
                                    class="text-muted">writer: </span> {{ book.author }}</h5>
                            {#                            <h5 class="small my-1"><span class="text-muted">مترجم: </span>الهام خرسندی</h5>#}
                            <h5 class="small my-1" style="text-align: left"><span
                                    class="text-muted">publishers: {{ book.user.username }} </span>
                            </h5>
                                {% if book.user == user %}
                            <h6 style="text-align: left"><a class="text-decoration-none"
                                                            href="{% url 'book_delete' book.id %}">delete</a>
                                <span>|</span> <a
                                        class="text-decoration-none" href="{% url 'book_edit' book.id %}">edit</a></h6>

                                {% endif %}


                        </div>
                        <div class="col-xs-12 col-md-3 d-flex flex-column">
                            <h3 class="align-self-center pt-2 text-muted align-self-md-end">{{ book.price }}$</h3>
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-center">
                    <div class="my-3 p-5 w-sm-75 w-100">{{ book.content | linebreaksbr }}</div>
                </div>

                <div class="d-flex justify-content-center">
                    <div class="card shadow my-3 p-5 w-sm-75 w-100">
                        <h2 class="mb-5">comments:</h2>
                        {% for comment in comments %}
                            <div class="border-bottom mb-3">
                                <h5 class="mb-3">{{ comment.user.username }}</h5>
                                <p>{{ comment.text | linebreaks | truncatewords:30 }}</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="d-flex justify-content-center">
                    <div class="card shadow my-3 p-5 w-sm-75 w-100">
                        <h3>Enter your comment:</h3>
                        <form method="POST">
                            {% csrf_token %}
                            {{ comment_form | crispy }}
                            <button type="submit" class="btn btn-primary">send</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}