{% extends '_base.html' %}

{% block page_title %}
    book list
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <div class="row flex-row-reverse justify-content-md-center">

            {% for book in books %}
                <div class="card m-2" style="max-width: 45%">
                    <a href="{{ book.get_absolute_url }}" class="text-decoration-none text-dark">
                        <div class="row g-0 h-100" dir="ltr">
                            <div class="col-md-4">
                                {% if book.cover %}
                                    <img src="{{ book.cover.url }}" class="img-fluid rounded-start" alt="...">

                                {% endif %}
                            </div>
                            <div class="col-md-8 h-100">
                                <div class="d-flex flex-column justify-content-between h-100">
                                    <div class="card-body">
                                        <h3 class="card-title"><strong>{{ book.title | truncatewords:2 }}</strong></h3>


                                        <p class="card-text pt-3">{{ book.content | truncatewords:20 }}</p>
                                        <p class="text-muted">writer: {{ book.author }} </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

            {% endfor %}

        </div>
    </div>


{% endblock %}